<a href="https://colab.research.google.com/github/Jav00/edd_1310_2021/blob/master/1octubre_1310.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Intro Python 3
### Variables tipo dinamico
Tipo dinamico.
 
'Escuela = "Fes aragon"'

In [ ]:
escuela = "FES Aragon"
print(escuela)
print("____")
edad = 13
estatura = 1.67
fumador = True
frase = """
esta es una frase
de multiple
linea
"""
print(frase)
nombre = 'Javier'
nombre_completo = "javier segundo zepahua"

FES Aragon
____

esta es una frase
de multiple
linea

El print lo puedes usar con comas,
 
signo + 
 
format() 
 
con el operador f""

In [ ]:
 
# Concatena 
print(nombre,edad)

Javier 13

In [ ]:
 
# Usar en snake case
print(nombre+str(edad))
print(nombre+nombre_completo)

Javier13
Javierjavier segundo zepahua

In [ ]:
# Con formato -> su nombre es Javier y su edad es
print("Su nombre es",nombre,"y su edad es", edad,"años.")
print("Su nombre es {0} y su edad es {1} años.".format(nombre,edad))

In [ ]:
# Con formato con el operador f""
print(f"Su nombre es {nombre} y su edad es {edad} años.")

Su nombre es Javier y su edad es 13 años.

 # caracter de escape.
 
\n salto de linea
 
\t tabulador
 
\a beep
 
\\" imprimir comilla doble
 
\\' imprimir comilla simple

In [ ]:
 """
esta es una comentario
de multiple
linea
"""
print(f"\tmi nombre es\n\t\t{nombre}")

	mi nombre es
		Javier

 # Ayuda de tipo de datos en Python
***
dir() help()

In [ ]:
# str, int, float, bool, ... , list, dic
help(str)

In [ ]:
print(nombre_completo.capitalize() )
print(nombre_completo.upper() ,end="-----")
print(nombre_completo.title() )

Javier segundo zepahua
JAVIER SEGUNDO ZEPAHUA-----Javier Segundo Zepahua

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

## Clase String
 
Es manejada como un arreglo (c o Java) o lista (Python)
^^

In [ ]:
telefono = "Huawei mate 30 pro"
print(telefono[5])

i

## Slicing (rebanado)
***
[Ini:stop:incremento]
 
Nota: el stop no se include

In [ ]:
print(telefono[7:11:1])
# El inicio y el incremento son opcionales
print(telefono[:11:])
# El valor por defecto en stop es len(str)
print(telefono[::])
# El incremento negativo 
print(telefono[::-1])
print(telefono[-3::1])

## Métodos de String (str)
***
Existen métodos muy útiles en esta clase.

In [ ]:
facultad = "    facultad de estudios superiores aragón.    \n"
print(facultad.count("f"))# Cuenta el numero de elementos de la cadena
print(facultad.find("s"))# Posición
print(facultad.index("f"))# Buscar
print(facultad.strip())
tamaño=len(facultad)
print(len(facultad))
 
print(f"Tamaño de la cadena es {tamaño}")
 
print(facultad.strip().split(" "))
 
print("--------------")
# Copiar cadena
 
otra_cadena=facultad
print(otra_cadena)
otra_cadena="FES Aragon"
print(facultad)
print(otra_cadena)
 
# Copiar listas
 
colores = ["rojo","verde"]
otra = colores.copy()
print(colores)
print(otra)
otra.append("rosa")
print(colores)
print(otra)

1
17
4
facultad de estudios superiores aragón.
48
Tamaño de la cadena es 48
['facultad', 'de', 'estudios', 'superiores', 'aragón.']
--------------
    facultad de estudios superiores aragón.

    facultad de estudios superiores aragón.

FES Aragon
['rojo', 'verde']
['rojo', 'verde']
['rojo', 'verde']
['rojo', 'verde', 'rosa']