<a href="https://colab.research.google.com/github/Jav00/edd_1310_2021/blob/master/6octubre_1310.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 
#String continuación
 
numeros_txt = "    1,2,3,4  ,5  ,35  ,15  ,12"
print(numeros_txt)
numeros_txt = numeros_txt.lstrip().split(',')
print(numeros_txt)
 
for j in range(len(numeros_txt)):
  numeros_txt[ j ] = int(numeros_txt[j].strip())
  
print(numeros_txt)
 
#Funcion range()
 
#range(inicio,stop, incremento)
 
print(range(1,10,3))
rango=range(1,10,2)
 
for x in rango:
    print(x)
 
rango=range(10)
for x in rango:
    print(x)

    1,2,3,4  ,5  ,35  ,15  ,12
['1', '2', '3', '4  ', '5  ', '35  ', '15  ', '12']
[1, 2, 3, 4, 5, 35, 15, 12]
range(1, 10, 3)
1
3
5
7
9
0
1
2
3
4
5
6
7
8
9

#Listas
- mutantes 
- declaran con []
- sector [int]
- pueden ser de cualquier tipo y mezclado
 
#tuplas 
- no mutables
- se declaran con paréntesis ()
- selector [int] 
 
#diccionarios 
 
- son mutables
- son conjuntos de llave:valor
- equivalentes a los objetos JSON de JavaScritp
 
#conjuntos
- representación de la teoría de conjuntos

In [ ]:
# Listas
frutas = ["Pera","Manzana","Fresa","Kiwi","Naranja"]
print(frutas)
cosas = ["cuaderno",2,3.1416,True,False,["Rojo","Azul"]]
print(cosas)
frutas[2]="Fresa"
print (frutas)
# agregar a una lista
frutas.append("Aguacate") # Agrega al final
print(frutas)
frutas.insert(2,"Sandia") # Agrega en una posición
print(frutas)
 
# Concatenar listas
fecha = ["06","10","20"] # 06/10/2020
print(fecha)
fecha_str="/".join(fecha)
print(fecha_str)

['Pera', 'Manzana', 'Fresa', 'Kiwi', 'Naranja']
['cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul']]
['Pera', 'Manzana', 'Fresa', 'Kiwi', 'Naranja']
['Pera', 'Manzana', 'Fresa', 'Kiwi', 'Naranja', 'Aguacate']
['Pera', 'Manzana', 'Sandia', 'Fresa', 'Kiwi', 'Naranja', 'Aguacate']
['06', '10', '20']
06/10/20

In [ ]:
 # Eliminar listas
cosas = ["cuaderno",2,3.1416,True,False,["Rojo","Azul"]]
print(cosas)
cosas.append("Libro")
cosas.append("Lapiz")
print(cosas)
algo = cosas.pop()
print(cosas)
print(algo)
 
# Remover 
algo = cosas.pop(2)
print(cosas)
print(algo)
cosas.remove(2)
print(cosas)
 
# vaciar una lista
# cosas.clear()
print(cosas)
 
# ordenar
print(frutas)
frutas.sort()
print(frutas)

['cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul']]
['cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul'], 'Libro', 'Lapiz']
['cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul'], 'Libro']
Lapiz
['cuaderno', 2, True, False, ['Rojo', 'Azul'], 'Libro']
3.1416
['cuaderno', True, False, ['Rojo', 'Azul'], 'Libro']
['cuaderno', True, False, ['Rojo', 'Azul'], 'Libro']
['Aguacate', 'Fresa', 'Kiwi', 'Manzana', 'Naranja', 'Pera', 'Sandia']
['Aguacate', 'Fresa', 'Kiwi', 'Manzana', 'Naranja', 'Pera', 'Sandia']

In [101]:
 # Slicing
cosas = ["cuaderno" , 2 , 3.1416 , True , False ,["Rojo","Azul"]]
print(cosas[3:5:1])
print(cosas)
print(cosas[0][3:5:1])
 
números = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
print(números[8:13:])
 
# Sustituir rebanadas -2,-2 -> [0,1,2,3,4,5,6,7,-2,-2,13,14,15]

print(números) 
números[8:13:] = [-2,-2]
print(números)
 
# Preguntar por una existencia
print(100 in números)

[True, False]
['cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul']]
de
[8, 9, 10, 11, 12]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
[0, 1, 2, 3, 4, 5, 6, 7, -2, -2, 13, 14, 15]
False

# Listas multi dimensión.
Listas dentro de listas

In [ ]:
computadoras = ["HP","Mac Book Pro 17","Mate book","Lenovo legion"]
OSS = ["Windows 10","Linux","Android","iOS"]
 
computo = [computadoras, OSS]
print (computo [0])
print (computo [1])
print (computo [0][2])
print (computo [0][2][0:5])
print (computo [0][3][5: :-1])
print (computo [0][3][-8::-1])
print("Linux" in computo[1])
 
dbms=[ ["Mysql","Open Source",False],["MS SQL Server","de paga",True] ] #Cuenta el espacio
computo.append(dbms)
print(computo)
print (computo[2][0][0])
print (computo [2][1][1])

['HP', 'Mac Book Pro 17', 'Mate book', 'Lenovo legion']
['Windows 10', 'Linux', 'Android', 'iOS']
Mate book
Mate
ovoneL
ovoneL
True
[['HP', 'Mac Book Pro 17', 'Mate book', 'Lenovo legion'], ['Windows 10', 'Linux', 'Android', 'iOS'], [['Mysql', 'Open Source', False], ['MS SQL Server', 'de paga', True]]]
Mysql
de paga